<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<link th:fragment="bootstrap-css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:fragment="screen-css" th:href="@{/css/screen.css}" rel="stylesheet" />
<link th:fragment="bootstrap-theme" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
<script th:fragment="jquery" type="text/javascript" th:src="@{/resources/jquery.min.js}"></script>
<script th:fragment="bootstrap-js" type="text/javascript" th:src="@{/resources/bootstrap.min.js}"></script>
</head>
<body>
</body>

</html>
